<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<connectionString>
		<add name="MiniStoreDB"
			 connectionString="Server=localhost;Database=ministore;
                           Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
		</connectionString>
	</connectionStrings>
	
</configuration>